$blue: rgb(60, 128, 255);
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #eee;
}

header,
section {
  // padding: 1em;
}

header {
  padding: 1em;
}

//----------------------------------
//  General App Styles
//----------------------------------
header > h1 {
  margin-top: 0.75em;
  padding-bottom: 20px;
  border-bottom: 5px dotted $blue;
}

.App {
  width: 960px;
  margin: 75px auto 1em auto;
  background-color: #bcdbfb;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  div#image {
    z-index: 2;
    position: relative;
    text-align: center;
    background-color: white;
  }
  div#image img {
    height: 400px;
    max-width: 100%;
  }
  overflow: hidden;
}

.intro {
  padding: 1em;
}

.instructions-wrapper {
  display: flex;
  height: 0;
  opacity: 0;
  transition: 1s;
  background-color: white;
}

.instructions-wrapper > div {
  width: 50%;
  height: 350px;
}

button {
  border: 2px solid $blue;
  width: 150px;
  margin: 1em auto;
  font-size: 1.25em;
  padding: 0.5em;
  transition: 0.2s;
  background-color: white;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: $blue;
    box-shadow: 3px 3px 0 darken($blue, 30%);
    color: white;
  }
}

//--------------------------
// Instructions Interface
//--------------------------

.instructions {
  z-index: 1;
  position: relative;
  background-color: white;
  border: 30px solid lighten($blue, 30%);
  div {
    display: none;
    &:first-child {
      display: block;
    }
  }
  span {
    font-size: 1.2em;
  }
  .instruction {
    #step-num {
      position: absolute;
      margin: 0;
      top: -15px;
      left: -15px;
      width: 105px;
      color: $blue;
      font-size: 4em;
      overflow: hidden;
      transition: 250ms;
      text-align: center;
      background: blue;
      box-shadow: 7.5px 7.5px 0 $blue;
      text-shadow: 2px 2px 0 darken($blue, 40%);
    }
    p {
      position: absolute;
      top: 0;
      margin: 90px 2em 2em 2em;
      line-height: 1.5em;
      font-size: 1.25em;
    }
    #next-step {
      position: absolute;
      margin-bottom: 2em;
      margin-right: 2em;
      bottom: 0;
      right: 0;
      transition: 0.1s;
      &:active {
        transform: translate(4px, 4px);
      }
    }
  }
}

//----------------------------------
//  Illustrations
//----------------------------------

.App div#image {
  //--------------------------
  // General styles
  //--------------------------

  overflow: hidden;
  background-color: $blue;

  //--------------------------
  // Shape defaults
  //--------------------------

  div.circle,
  div.rect {
    position: absolute;
    perspective: 250px;
  }
  div.circle {
    border-radius: 50%;
  }

  //--------------------------
  // Colors
  //--------------------------

  $plate: rgb(211, 235, 255);
  $counter: rgb(66, 66, 92);

  //--------------------------
  // Layers
  //--------------------------

  #counter {
    z-index: 3;
  }
  #outer-plate {
    z-index: 4;
  }
  #pb-jar {
    z-index: 4;
  }
  #jelly-jar {
    z-index: 4;
  }
  #pb-lid {
    z-index: 4;
  }
  #jelly-lid {
    z-index: 4;
  }
  #inner-plate {
    z-index: 5;
  }
  #bread-slice-1 {
    z-index: 6;
  }
  #bread-slice-2 {
    z-index: 6;
  }
  #knife {
    z-index: 7;
  }
  #spoon {
    z-index: 7;
  }
  #pb {
    z-index: 8;
  }
  #jelly {
    z-index: 8;
  }
  //--------------------------
  // Positions & Sizing
  //--------------------------

  $plate-initial-pos-x: 200px;
  $plate-initial-pos-y: 120px;
  $inner-plate-offset: 5px;
  $plate-size: 100px;
  #counter {
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: $counter;
  }
  #inner-plate {
    bottom: 125px;
    left: -205px;
    width: 90px;
    height: 90px;
    border: 3px solid darken($plate, 30%);
  }
  #outer-plate {
    bottom: 120px;
    left: -200px;
    width: 100px;
    height: 100px;
    background: $plate;
  }

  //--------------------------
  // Step Animations
  //--------------------------

  &.frame {
    &.step-0 #inner-plate {
      animation: step-0-inner-plate-in 1s forwards;
    }
    &.step-0 #outer-plate {
      animation: step-0-outer-plate-in 1s forwards;
    }
    &.step-1 #inner-plate {
      animation: step-1-inner-plate-down 1s forwards;
    }
    &.step-1 #outer-plate {
      animation: step-1-outer-plate-down 1s forwards;
    }
  }
}

//--------------------------
// Animations
//--------------------------

@keyframes step-0-inner-plate-in {
  from {
    left: -205px;
  }
  to {
    left: 205px;
  }
}
@keyframes step-0-outer-plate-in {
  from {
    left: -200px;
  }
  to {
    left: 200px;
  }
}
@keyframes step-1-inner-plate-down {
  from {
    left: 205px;
    bottom: 125px;
    width: 90px;
  }
  to {
    left: 182.5px;
    bottom: 54px;
    height: 65px;
    width: 125px;
  }
}
@keyframes step-1-outer-plate-down {
  from {
    left: 200px;
    bottom: 125px;
    width: 100px;
  }
  to {
    left: 177px;
    bottom: 50px;
    height: 70px;
    width: 135px;
  }
}
