$blue: rgb(60, 128, 255);
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #eee;
}

header,
section {
  // padding: 1em;
}

header {
  padding: 1em 1em 0 1em;
}

//----------------------------------
//  General App Styles
//----------------------------------
header > h1 {
  margin-top: 0.75em;
  padding-bottom: 20px;
  border-bottom: 5px dotted $blue;
}

.App {
  width: 960px;
  margin: 75px auto 1em auto;
  background-color: #bcdbfb;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  div#image {
    z-index: 2;
    position: relative;
    text-align: center;
    background-color: white;
  }
  div#image img {
    height: 400px;
    max-width: 100%;
  }
  overflow: hidden;
}

#intro {
  padding: 0 1em 1em 1em;
  transition: .5s;
}

.instructions-wrapper {
  display: flex;
  height: 0;
  opacity: 0;
  transition: 1s;
  background-color: white;
}

.instructions-wrapper > div {
  width: 50%;
  height: 350px;
}

button {
  border: 2px solid $blue;
  width: 150px;
  margin: 1em auto;
  font-size: 1.25em;
  padding: 0.5em;
  transition: 0.2s;
  background-color: white;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: $blue;
    box-shadow: 3px 3px 0 darken($blue, 30%);
    color: white;
  }
}

//--------------------------
// Instructions Interface
//--------------------------

.instructions {
  z-index: 1;
  position: relative;
  background-color: white;
  border: 30px solid lighten($blue, 30%);
  div {
    display: none;
    &:first-child {
      display: block;
    }
  }
  span {
    font-size: 1.2em;
  }
  .instruction {
    #step-num {
      position: absolute;
      margin: 0;
      top: -15px;
      left: 600px;
      width: 105px;
      color: $blue;
      font-size: 4em;
      overflow: hidden;
      transition: 250ms;
      text-align: center;
      background: blue;
      box-shadow: 7.5px 7.5px 0 $blue;
      text-shadow: 2px 2px 0 darken($blue, 40%);
    }
    p {
      position: absolute;
      top: 0;
      margin: 90px 2em 2em 2em;
      line-height: 1.5em;
      font-size: 1.25em;
    }
    #next-step {
      position: absolute;
      margin-bottom: 2em;
      margin-right: 2em;
      bottom: 0;
      right: 0;
      transition: 0.1s;
      &:active {
        transform: translate(4px, 4px);
      }
    }
  }
}

//----------------------------------
//  Illustrations
//----------------------------------

.App div#image {
  //--------------------------
  // General styles
  //--------------------------

  overflow: hidden;
  background-color: $blue;

  //--------------------------
  // Step Animations
  //--------------------------

  &.frame {
    &.step-0 #inner-plate {
      animation: step-0-inner-plate-in 1s forwards;
    }
    &.step-0 #outer-plate {
      animation: step-0-outer-plate-in 1s forwards;
    }
    &.step-1 #inner-plate {
      animation: step-1-inner-plate-down 1s forwards;
    }
    &.step-1 #outer-plate {
      animation: step-1-outer-plate-down 1s forwards;
    }
  }
}

//--------------------------
// Animations
//--------------------------
$imgWidth: 480px;
$imgHeight: 350px;
$plateWidth: 100px;

@keyframes step-0-inner-plate-in {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(($imgWidth / 2) + $plateWidth);
  }
}
@keyframes step-0-outer-plate-in {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(($imgWidth / 2) + $plateWidth);
  }
}
$lastPos: ($imgWidth / 2) + $plateWidth;
@keyframes step-1-inner-plate-down {
  from {
    transform: translate($lastPos, 0);
  }
  to {
    transform: translate($lastPos, 100px);
  }
}
@keyframes step-1-outer-plate-down {
  from {
    transform: translate($lastPos, 0);
  }
  to {
    transform: translate($lastPos, 100px);
  }
}
